%h1= guildhall.name

=link_to "Edit Guildhall", edit_user_guildhall_path(guildhall.user.id)

%h3 Guildhall Status
%ul
  %li
    Gold:
    =guildhall.gold
  %li
    Capacity:
    =guildhall.capacity
  %li
    Total Salaries:
    =guildhall.adventurers.map {|a| a.salary}.inject { |sum, a| sum + a }

-if !guildhall.adventurers.empty?
  %h3 Adventurers
  %ul
    -guildhall.adventurers.each do |adventurer|
      %li=link_to adventurer.name, adventurer

-if !guildhall.contracts.empty?
  %h3 Current Quests:
  %ul
    -guildhall.contracts.each do |contract|
      %li
        .quest-title
          =contract.quest.title
        .quest-status
          -if contract.task == nil
            =link_to "Send adventurer on quest", new_contract_task_path(contract.id)
          -else
            = "#{contract.task.adventurer.name} is currently on this quest."
